/*********************************************************************
 * 全体
 */
html,
body {
  touch-action: manipulation; /* ダブルタップによる拡大抑制 */
  overflow-x: hidden; /* 横スクロール抑制 */
}
body {
  position: relative; /* 横スクロール抑制 */
}

/* テキスト選択不可にする */
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*********************************************************************
 * JavaScript 注意書き
 */
#javascript_notice_container {
  color: red;
  font-weight: bold;
  font-size: 18pt;
  border: 5px solid pink;
  text-align: center;
}

/*********************************************************************
 * フォーム
 */
#session_name_container {
  float: right;
}
#main_form fieldset {
  margin-top: 1lh;
}

#main_form dl {
  display: grid;
  grid-template-columns: max-content auto;
}
#main_form dt {
  grid-column-start: 1;
}
#main_form dd {
  grid-column-start: 2;
}

/**
 * 観測対象ラジオボタン
 */
/**
 * タブタイトル
 */
#target_mode > input[type="radio"][name="target_type"] {
  appearance: none;
}
#target_mode > input[type="radio"][name="target_type"] ~ label {
  display: inline-block;
}
#target_mode > input[type="radio"][name="target_type"]:checked + label {
  border-bottom: 3px solid blue;
}

/* 太陽モードの場合は月のフィールドを隠す。 */
#target_mode > input#sun_rise:checked ~ #about_moon_observation_day,
#target_mode > input#sun_set:checked ~ #about_moon_observation_day {
  display: none;
}
/* 日の出の時は日の入りのフィールドを隠す。 */
#target_mode
  > input#sun_rise:checked
  ~ #about_sun_observation_day
  > #minutes_about_sun_set {
  display: none;
}
/* 日の入りの時は日の出のフィールドを隠す。 */
#target_mode
  > input#sun_set:checked
  ~ #about_sun_observation_day
  > #minutes_about_sun_rise {
  display: none;
}

/* 月モードの時は太陽のフィールドを隠す。*/
#target_mode > input#moon_rise:checked ~ #about_sun_observation_day,
#target_mode > input#moon_set:checked ~ #about_sun_observation_day {
  display: none;
}
/* 月の出の時は月の入りのフィールドを隠す。*/
#target_mode
  > input#moon_rise:checked
  ~ #about_moon_observation_day
  > #minutes_about_moon_set {
  display: none;
}
/* 月の入りの時は月の出のフィールドを隠す。*/
#target_mode
  > input#moon_set:checked
  ~ #about_moon_observation_day
  > #minutes_about_moon_rise {
  display: none;
}

/* 情報部分は選択可能にする。*/
#sun_info *,
#moon_info * {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
/*
#moon_observation_day {
  width: 7em;
}
#sun_observation_day {
  width: 7em;
}
*/
#submit_button_container {
  text-align: center;
  margin-top: 1lh;
  margin-bottom: 1lh;
}
#submit_button_container > button {
  width: 100%;
}

/**
 * ダイアル
 */
.dial {
  width: 15ch;
  height: 2lh;
}

/*********************************************************************
 * マップ
 */
#map_grid {
  display: grid;
  height: 98vh;
  grid-auto-columns: 1fr;
  grid-auto-rows: min-content auto;
}
#map_grid_ui {
  text-align: center;
  grid-row: 1;
}
#map_container {
  grid-row: 2;
  border: 1px solid black;
}

/*********************************************************************
 * プログレスバー
 */
#progress_ui {
  margin-top: 40vh;
  width: 100%;
}
#progressbar {
  position: relative;
  width: 100%;
  height: 2lh;
}
#progress_gauge {
  display: block;
  border-bottom: 1px solid darkblue;
  border-right: 2px solid darkblue;
  background-color: lightblue;
  height: 2lh;
  width: 1px;
}
#progress_label {
  position: absolute;
  left: 50%;
  top: 4px;
  font-weight: bold;
  text-shadow: 2px 2px 0 #fff;
}
